$succes_svg : #0afa2a;
$succes_text : #066e29;
.success{
    --succes_svg : #0afa2a;
    --succes_text : #066e29;
    --succes_bg : #e2feee;
 }
 .fail{
     --succes_svg : #DC2626;
     --succes_text : #DC2626;
     --succes_bg : #fee2e2;
 }
.activator {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        overflow: hidden;
        position: relative;
        text-align: left;
        border-radius: 0.5rem;
        max-width: 290px;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        background-color: #fff;

        .header {
            padding: 1.25rem 1rem 1rem 1rem;

            .image {
                display: flex;
                margin-left: auto;
                margin-right: auto;
                background-color: var(--succes_bg);
                flex-shrink: 0;
                justify-content: center;
                align-items: center;
                width: 3rem;
                height: 3rem;
                border-radius: 9999px;
                animation: animate .6s linear alternate-reverse infinite;
                transition: .6s ease;
                @keyframes animate {
                    from {
                        transform: scale(1);
                    }
                
                    to {
                        transform: scale(1.09);
                    }
                }
                svg {
                    color: var(--succes_svg);
                    width: 2rem;
                    height: 2rem;
                }
            }

            .content {
                margin-top: 0.75rem;
                text-align: center;

                .title {
                    color: var(--succes_text);
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 1.5rem;
                }

                .message {
                    margin-top: 0.5rem;
                    color: #595b5f;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                }
            }
            .actions {
                margin: 0.75rem 1rem;
                
                .history {
                    display: inline-flex;
                    padding: 0.5rem 1rem;
                    background-color: var(--succes_svg);
                    color: #ffffff;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    font-weight: 500;
                    justify-content: center;
                    width: 100%;
                    border-radius: 0.375rem;
                    border: none;
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
                }
                
                .track {
                    display: inline-flex;
                    margin-top: 0.75rem;
                    padding: 0.5rem 1rem;
                    color: #242525;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    font-weight: 500;
                    justify-content: center;
                    width: 100%;
                    border-radius: 0.375rem;
                    border: 1px solid #D1D5DB;
                    background-color: #fff;
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
                }
            }
        }

    }
}


