.Create_store{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .form{
        width: 50%;
        height: 50%;
        display: flex;
        align-items: center;
        background-color: var(--message-box-border);
        .flex-column{
            width: 100%;
            .inputForm{
                background: var(--app-container);
                gap: 15px;
            }
        }
    }
}